.winner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .disc {
    font-size: 6rem;
    font-weight: 300;
    margin-bottom: 5rem;
    text-align: center;

    .winner-name {
      font-size: 6rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}